<div class="container mycontainer">
    <button
      mat-raised-button color="primary"
      style="float: right"
      (click)="onClickModifier()">Modifier</button>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6" id="car-container">
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
        </div>

        <div class="col-md-6">
          <div class="container">
              <div class="row">

                <div class="col-md-6">
                    <p>Nom:</p>
                </div>
                <div class="col-md-6">
                    <p>{{client.nom}}</p>
                </div>

                <div class="col-md-6">
                    <p>Prenom:</p>
                </div>
                <div class="col-md-6">
                    <p>{{client.prenom}}</p>
                </div>

                <div class="col-md-6">
                    <p>Statut:</p>
                </div>
                <div class="col-md-6">
                    <p>{{client.statut}} DH</p>
                </div>

                <div class="col-md-6">
                    <p>Telephone:</p>
                </div>
                <div class="col-md-6">
                    <p>{{client.telephone}}</p>
                </div>

                <div class="col-md-6">
                    <p>Email:</p>
                </div>
                <div class="col-md-6">
                    <p>{{client.email}}</p>
                </div>

                <div class="col-md-6">
                    <p>Adresse:</p>
                </div>
                <div class="col-md-6">
                    <p>{{client.adresse}}</p>
                </div>

                <div class="col-md-6">
                    <p>Ville:</p>
                </div>
                <div class="col-md-6">
                    <p>{{client.ville}}</p>
                </div>
              </div>
          </div>

        </div>
    </div>
</div>
