<ul>
  <li
    (click)="onClckSidebarItem('produits')"
    [ngClass]="{'itemSelected': this.position == 'produits'}"
    ><mat-icon>shopping_cart</mat-icon> <span>Produits</span></li>
    <li
      (click)="onClckSidebarItem('clients')"
      [ngClass]="{'itemSelected': this.position == 'clients'}"
      ><mat-icon>group</mat-icon> <span>Clients</span></li>
    <li
      (click)="onClckSidebarItem('fournisseurs')"
      [ngClass]="{'itemSelected': this.position == 'fournisseurs'}"
      ><mat-icon> local_shipping</mat-icon> <span>Fournisseurs</span></li>
    <li
      *ngIf="isAdmin"
      (click)="onClckSidebarItem('utilisateurs')"
      [ngClass]="{'itemSelected': this.position == 'utilisateurs'}"
      ><mat-icon>perm_identity</mat-icon> <span>Utilisateurs</span></li>
</ul>
