/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-tab-body-wrapper {
   height: 80%;
}

.mat-tab-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    height: 85%;
    width: 100%;
}

.mycontainer{
  margin-bottom: -5%;
  background-color: white;
}

.tabBody-container{
  padding: 30px;
  background-color: green;
}
